body {
  font-family: "Manrope", sans-serif;
}

h1 {
  font-size: 60px;
  line-height: 60px;
  margin-bottom: 30px;
  margin-top: 128px;
  letter-spacing: -1.8px;
  width: 956px;
  height: 120px;
  font-weight: 400;
  color: #121212;
}

.Room {
  background-image: url("../new/Room.png");
  background-size: contain;
  background-repeat: no-repeat;
  padding-left: 40px;
  padding-bottom: 40px;
  padding-top: 379px;
  width: 1150px;
}

.Room-text-wrapper {
  font-size: 20px;
  line-height: 27px;
  font-weight: 400;
  letter-spacing: -0.6px;
  width: 430px;
  height: 81px;
  color: white;
}

h2 {
  font-size: 18px;
  line-height: 25px;
  letter-spacing: -0.54px;
  margin-top: 150px;
  margin-bottom: 30px;
  font-weight: 400;
  color: #121212;
}

.AboutUs {
  font-size: 45px;
  line-height: 61px;
  letter-spacing: -1.35px;
  width: 1048px;
  height: 366px;
  margin-bottom: 30px;
  font-weight: 400;
  color: #121212;
}
a {
  display: inline-block;
  width: 255px;
  text-decoration: none;
  font-size: 20px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: -0.6px;
  text-align: center;
  padding: 20px 40px;
  margin-bottom: 150px;
  border-radius: 5px;
  background-color: #ad1818;
  color: #fff;
}

.container {
  width: 1150px;
  margin: 0 auto;
}
